html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100%;
  /* background: black; */
}

header {
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchbox-container {
  margin-left: 240px;
  max-width: 400px;
  margin: 20px auto auto auto;
  display: block;
}

.searchbox-container .input-group {
  margin-top: 5px;
}

.searchbox-container .form-control:focus {
  outline: none;
  box-shadow: none;
}

.searchbox-container .guessed-movie {
  padding: 5px;
  margin-bottom: 5px;
  width: 300px;
}

.searchbox-container .movie-frame {
  height: 14rem;
}

.searchbox-container .count-btn {
  border-radius: 0;
  border-radius: 2px;
  width: 28px;
  border: none;
  height: 35px;
  padding: 0px;
  font-size: large;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.close {
  position: absolute;
  right: 32 px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  /* prettier single quote setting did the above change */
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.guess-box {
  display: flex;
  justify-content: center;
}

.movie-search-dropdown {
  width: 300px;
}

.current-movie-frame {
  background-color: #595959;
  color: white;
}

.header-icon {
  padding: 0px 16px;
}

.rules-header,
.stats-header {
  position: relative;
}

.rules-header h3,
.stats-header h3 {
  font-weight: bolder;
}

.stats-header .modal-close {
  top: 0px;
}

.modal-close {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 18px;
}

.Modal {
  border: 1px solid black !important;
}

.data-props {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.data-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.stats {
  text-transform: uppercase;
  font-weight: bold;
}

.data-value {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  min-width: 32px;
}

.stats-header {
  margin-bottom: 20px;
}

.guess-dist {
  margin-top: 20px;
}

.won {
  background: green;
  color: white;
  border-radius: 3px;
}

.total-played {
  background: #ffc107;
  border-radius: 3px;
  color: white;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.social {
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.twitter-icon {
  height: 56px;
}

.rules {
  font-size: 18px;
  padding: 10px;
}

.rules p {
  padding: 10px;
  background: #9aaae63b;
  border-radius: 5px;
  display: flex;
  gap: 0.3rem;
}

.rules img {
  flex-shrink: 0;
  margin-top: 4px;
}

.rule-icon {
  height: 20px;
  margin-right: 10px;
}

.chances {
  height: 28px;
}

.timer-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: auto;
  padding: 50px 0px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.hide-dropdown .css-26l3qy-menu {
  visibility: hidden;
}

.counter {
  padding: 5px;
}

.guess-graph {
  letter-spacing: 1px;
  margin-top: 20px;
}

.graph-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 0px;
}

.guess-index {
  width: 5%;
  font-size: larger;
  font-weight: bold;
}

.guess-bar {
  background-color: transparent;
  height: 20px;
  width: 95%;
  border-radius: 1px;
}

.graph-fill {
  background: #3a6e9c;
  height: 20px;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.guess-data {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2px 0px;
}

.banner-text a {
  text-decoration: underline;
}
.p-200 {
  padding: 200px 0px;
}
.underline-text {
  text-decoration: underline;
}
.fs-large {
  font-size: large;
}

.square {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
}
span.red {
  background: red;
}

span.green {
  background: springgreen;
}

span.green-light {
  background: green;
}

.w-fit-content {
  width: fit-content;
}

input[type="date"] {
  display: block;
  position: relative;

  font-size: 1rem;
  font-family: monospace;

  align-items: center;

  border: 1px solid #8292a2;
  border-radius: 0.25rem;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem center no-repeat;

  cursor: pointer;
}

input[type="date"]:focus {
  outline: none;
  border-color: #3acfff;
  box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {
}
::-webkit-datetime-edit-fields-wrapper {
}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background: rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit-text {
  opacity: 0;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
  display: none;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 120, 250, 1);
  background: rgba(0, 120, 250, 1);
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}

.text-black {
  color: black;
}

.button-href {
  background-color: #3acfff;
  padding: 4px 5px;
  border-radius: 2px;
  color: black;
}
.button-href:hover {
  text-decoration: none;
}

.color-lawngreen {
  color: lawngreen;
}

.color-lawngreenLight {
  color: green;
}

.fs-30 {
  font-size: 30px;
}

.stats-icon {
  color: #2196f3;
}
.time-travel-icon {
  color: #aaff64;
}
.time-travel-icon-light {
  color: green;
}
.instructions-icon {
  color: #e91e63;
}

.information-text {
  text-align: center;
  color: #ffebd8;
  font-size: initial;
  margin-top: 25px;
  max-width: 400px;
  margin: auto;
}

.btn-ripple {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}

.btn-ripple::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  background-color: rgb(251, 242, 242);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 0.2s;
  transform: scale(5, 5);
}

.btn-ripple:active::after {
  padding: 0;
  margin: 0;
  opacity: 0.2;
  transition: 0s;
  transform: scale(0, 0);
}

.time-travel-info {
  max-width: 400px;
}

.wrong-guess {
  border-left: 5px solid red;
  border-radius: 5px 5px 5px 5px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}
.correct-guess {
  border-left: 5px solid lawngreen;
  border-radius: 5px 5px 5px 5px;
  border-top: 1px solid lawngreen;
  border-right: 1px solid lawngreen;
  border-bottom: 1px solid lawngreen;
}
.correct-guess-light {
  border-left: 5px solid green;
  border-radius: 5px 5px 5px 5px;
  border-top: 1px solid green;
  border-right: 1px solid green;
  border-bottom: 1px solid green;
}
.text-red {
  color: red;
}

.new-icon,
.app-name {
  background: -webkit-linear-gradient(#e21143, #ffb03a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
