html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  min-height: 100%;
  font-family: Roboto;
  background: #ffffff;
}

a {
  color: #333333;
}

header {
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchbox-container {
  margin-left: 240px;
  max-width: 400px;
  margin-top: 20px;
  display: block;
  margin: auto;
  width: 50%;
}

.searchbox-container .input-group {
  margin-top: 5px;
}

.searchbox-container .form-control:focus {
  outline: none;
  box-shadow: none;
}

.searchbox-container button {
  padding-left: 20px;
  padding-right: 20px;
  background: #f8f8f8;
  border-radius: 0;
}

.searchbox-container button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, rgba(255, 255, 255, .5) 6%, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, .5) 10%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, .5) 19%, rgba(255, 255, 255, 0) 21%);
  background-size: 150%;
  background-position: right;
  transition: 1s;
}

.searchbox-container button:hover {
  background-position: left;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 1), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.searchbox-container button:focus {
  outline: none;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.close {
  position: absolute;
  right: 32 px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
